<h1>Works</h1>

<table>
  <tbody>
  <tr>
    <th>View</th>
    <th>User</th>
    <th>Project</th>
    <th>Date/Time</th>
    <th>Hours</th>
  </tr>
  <% @works.each do |work| %>
     <%= render partial: "work", collection: @works %>
  <% end %>
  </tbody>
</table>

<% content_for :aside do %>
    <%= render 'sidebar' %>
<% end %>
