<h1><%= @company.name %></h1>
<p><%= link_to 'Edit', edit_company_path %></p>
<table>
  <tbody>
  <tr>
    <th>Project</th>
    <th>Company</th>
  </tr>
  <%= render partial: "projects/project", collection: @company.projects %>
  </tbody>
</table>

<% content_for :aside do %>
    <%= render 'sidebar' %>
<% end %>

